body{
    background-color: rgb(44, 44, 44);
}

#heading {
    padding-bottom: 10px;
    font-size: 40px;
    text-decoration: underline;
    margin-left: 150px;
}

#game_field {
    background-color: rgb(192, 206, 206);
    margin-left: 35%;
    margin-right: 32%;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 65px;
    border-radius: 15px;
}

#user_btns {
    color: rgb(17, 17, 17);
    text-align: center;
    margin: 0px;
    display: flex;
}

button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #000000;
    border-color: rgb(0, 0, 0);
}


.tile0 {
    border-width: 2px;
    border-color: blue;
    border-style: inset;
}

.tile1 {
    border-width: 2px;
    border-color: red;
    border-style: inset;
}


.tile2 {
    border-width: 2px;
    border-color: green;
}

.tile3 {
    border-width: 2px;
    border-color: rgb(100, 100, 173);
}

.tile4 {
    border-width: 2px;
    border-color: rgb(85, 64, 64);
}


.tile5 {
    border-width: 2px;;
    border-color: rgb(197, 255, 197);
}

.tile6 {
    border-width: 2px;
    border-color: rgb(32, 32, 80);
}

.tile7 {
    border-width: 2px;
    border-color: rgb(216, 203, 65);
}


.tile8 {
    border-width: 2px;
    border-color: rgb(201, 119, 11);
}

button:disabled{
    background-color: rgb(255, 255, 255);
}


#reset {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 180px;
    background-color: rgb(54, 156, 211);
    text-decoration: solid;
    border-radius: 10px;

}

#reset:active {
    background-color: #1b30d3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}